img {
    width: 80px;
    height: 80px;
    outline: darkblue solid 1px;
    border-radius: 5px;
}

body {
    background-image: url('slike/background1.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.naslov {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    padding: 15px;
    text-align: center;
}

.prijava {
    margin: 10px;
    padding: 10px 15px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
    font-weight: bold;
    background-color: white;
    border: 1px solid darkblue;
    border-radius: 5px;
}

.iskanje {
    margin: 50px auto;
    padding: 15px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-weight: bold;
    width: 60%;
    height: 60%;
    text-align: center;
}

.iskanje input, select {
    width: 80%;
    height: 40px;
    margin: 10px 0;
    font-size: 16px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid darkblue;
    border-radius: 5px;   
    color: darkblue
}

.submit{
    margin: 10px;
    padding: 10px 15px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    background-color: darkblue;
    border: 1px solid darkblue;
    border-radius: 5px;
}

.submit:hover {
    background-color: white;
    color: darkblue;
    cursor: pointer;
}

.submit:active {
    background-color: darkblue;
    color: white;
}

.prijava:hover {
    background-color: darkblue;
    color: white;
    cursor: pointer;
}

.prijava:active {
    background-color: white;
    color: darkblue;
}

.footer{
    width: 100%;
    background-color: white;
    color: darkblue;
    text-align: center;
    border: 1px solid darkblue;
    border-radius: 5px;
    padding: 10px 0;
    bottom: 0;
}